.Login form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 5px;
}

.Login form  input {
  padding: 13px 20px;
  margin-bottom: 4px;
  border: 1px solid #DDD;
  border-radius: 4px;
  transition: all .3s ease-out;
}

.Login form input:focus{
  outline: 2px solid var(--main-color);
}

.Login form input:focus::placeholder{
  opacity: 0;
}

.Login form button {
  padding: 15px;
  border: 1px solid #DDD;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  background-image: var(--main-background);
  color: #FFF;
  cursor: pointer;
}